# Default values for mfbackend.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
#use the local image. Nexus is not available yet
  jenkins: myjenkins:latest
  nexus: sonatype/nexus3:3.22.0
  sonar: sonarqube:8.4.1-community
  pullPolicy: Never

pv:
  nexuspvc: nexuspvc
  nexusstorage: /mnt/data/nexus/
  nexusstoragesize: 10Gi
  jenkinsstorage: /mnt/data/jenkins-store
  jenkinspvc: jenkinspvc
  jenkinsstoragesize: 10Gi
  sonarpvc: sonarpvc
  sonarlogspvc: sonarlogspvc
  sonarextpvc: sonarextpvc
  sonarstorage: /opt/elastic/sonar/
  sonarstoragesize: 10Gi  

jenkins:
  docker_sock_path: /var/run/docker.sock  
  port: 8080
  port_ext: 31000
  jnlp_port: 50000
  servicename: jenkins

nexus:
  port: 8081
  port_ext: 31001
  dockerrepo_port: 31002  
  dockerrepo_ext_port: 31003
  servicename: nexus

sonar:
  port: 9000
  port_ext: 31004
  servicename: sonar


serviceAccount:
  # Specifies whether a service account should be created
  create: true
  name:  jenkins
  clusterrole: jenkinsclusterrole
  clusterrolebinding: jenkins-crb

ingress:
  enabled: true
  name: myjenkins
  jenkins_hosts:
    - host: jenkins.mylocaldomain
      paths: [/]
  nexus_hosts:
    - host: nexus.mylocaldomain
      paths: [/]      

