apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.jenkins.servicename }}
  namespace: default
spec:
  type: NodePort
  ports:
    - name: ui
      port: {{ .Values.jenkins.port }}
      targetPort: {{ .Values.jenkins.port }}
      nodePort: {{ .Values.jenkins.port_ext }}
    - name: jnlp
      port: {{ .Values.jenkins.jnlp_port }}
      targetPort: {{ .Values.jenkins.jnlp_port }}
  selector:
    app: jenkins
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.nexus.servicename }}
  namespace: default
spec:
  type: NodePort
  ports:
    - name: ui
      port: {{ .Values.nexus.port }}
      nodePort: {{ .Values.nexus.port_ext }}
  selector:
    app: nexus 


---
apiVersion: v1
kind: Service
metadata:
  name: nexusdocker
  namespace: default
spec:
  type: NodePort
  ports:
    - name: ui
      port: {{ .Values.nexus.dockerrepo_port }}
      nodePort: {{ .Values.nexus.dockerrepo_ext_port }}
  selector:
    app: nexus    


---
apiVersion: v1
kind: Service
metadata:
  name: sonar
  namespace: default
spec:
  type: NodePort
  ports:
    - name: ui
      port: {{ .Values.sonar.port }}
      nodePort: {{ .Values.sonar.port_ext }}
  selector:
    app: sonar       